{% load static %}
<html lang="en">
  <!-- The language defaults to English - update accordingly if necessary -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIBOKIT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}">
    <script src="{% static 'js/xlsx.full.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.js' %}"></script>
    <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #417690;
      color: white;
      text-align: center;
      
    }
    </style>
  </head>
  <body>
    <div id="container">

      <div id="header">
        <div id="branding">
          <strong>SIBOKIT</strong>
        </div>
      </div>
      <div class="breadcrumbs">
      	<div class="row">
      	<div class="col-lg-2 col-xs-6">
        <a href="{% url 'index_page' %}">Home</a> |
        <a href="{% url 'laporan_page' %}">Laporan Generator</a>
        </div>

        {% if user.is_authenticated %}
        <div class="col-lg-offset-8 col-xs-6 col-lg-2">
        <a href="/app">Masuk App</a> | <a href="/app/logout/">Log Out ({{ user.username }})</a>
        </div>
        {% else %}
        <div class="col-lg-offset-8 col-xs-offset-3 col-xs-3 col-lg-2">
        <a href="/app">Masuk App</a>
        </div>
        {% endif %}
        
        </div>
      </div>
      {% block content %}
      {% endblock %}

      <div class="footer">
        <p><span id="tahun"></span> &#169; <a href="{% url 'contact_dev' %}" target="_blank" style="color: #ffffcc;">Pratama</a> | v.2023-10-23</p>
      </div>
      <script>
      window.onload = function(){
        let d = new Date();
        document.getElementById('tahun').innerHTML = d.getFullYear();
      };
      </script>
  </body>
</html>
