
<!DOCTYPE html>
<html>
 <head> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>Stok Opname Apotek {{ tanggal|date:"d-M-Y" }} Puskesmas Berakit</title> 
  <script src="https://cdn.tailwindcss.com"></script> 
  <style>
  @media print {
	    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
	}
  </style> 
 </head> 
 <body> 
  <header class="bg-gray-50"> 
   <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"> 
    <div class="sm:flex sm:items-center gap-6">
      <svg fill="#0369a1" height="64px" width="64px" version="1.2" baseProfile="tiny" id="_x31_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-63 65 128 128" xml:space="preserve" stroke="#0369a1">

        <g id="SVGRepo_bgCarrier" stroke-width="0"/>

        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

        <g id="SVGRepo_iconCarrier"> <path d="M-37.4,95.7h28.5v34.1h-28.5V95.7z M2.4,95.7h22.8v5.7H2.4V95.7z M2.4,124.2h22.8v5.7H2.4V124.2z M2.4,109.9h22.8v5.7H2.4 V109.9z M-37.4,138.6h62.5v5.7h-62.5V138.6z M-37.4,166.4h62.5v5.7h-62.5V166.4z M-37.4,152.1h62.5v5.7h-62.5V152.1z M-39,66.6v10.9 h-12.6v114.2h92.6v-10.9h12.6V66.6H-39z M35.3,186.1H-46V83.1h7h5.7h68.6v91.9v5.7V186.1z M48,175.1h-7V77.4h-74.3v-5.1H48V175.1z"/> </g>

      </svg>
     <div class="text-center sm:text-left"> 
      <h1 class="text-xl font-bold text-cyan-900">Stok Opname Apotek Puskesmas Berakit</h1> 
      <p class="text-sm text-cyan-700">Disusun oleh :</p> 
      <p class="text-sm text-cyan-700">FarmAssistBot / SIBOKIT &copy; by Pratama</p> 
      <p class="text-xs text-cyan-700">version.2023.10.23</p> 
     </div> 
    </div> 
   </div> 
  </header> 
  <div class="bg-cyan-600 px-4 py-3 text-white"> 
      <p class="text-center text-lg font-medium"> Tanggal : {{ tanggal }} </p>
  </div>
  <div class="container mx-auto px-1 py-2">
   <!-- Table responsive wrapper --> 
   <div class="overflow-x-auto bg-white py-3"> 
    <!-- Table --> 
    <table class="min-w-full text-left text-xs whitespace-normal table-auto"> 
     <!-- Table head --> 
     <thead class="text-white uppercase tracking-wider border-b-2 bg-cyan-700"> 
      <tr> 
       <th scope="col" class="px-1 py-1"> No. </th> 
       <th scope="col" class="px-6 py-1"> Nama BMHP </th> 
       <th scope="col" class="px-3 py-1"> Stok Tercatat </th> 
       <th scope="col" class="px-3 py-1"> Stok Fisik </th> 
       <th scope="col" class="px-3 py-1"> Keterangan </th> 
      </tr> 
     </thead> 
     <!-- Table body --> 
     <tbody>
       {% for key, value in data.items %} 
      <tr class="border-b odd:bg-cyan-50"> 
       <th scope="row" class="px-1 py-1"> {{ forloop.counter }} </th>  
       <td class="px-6 py-1">{{ key }}</td> 
       <td class="px-3 py-1">{{ value.0 }}</td> 
       <td class="px-3 py-1">{{ value.1 }}</td> 
       {% if value.0 == value.1 %}<td class="px-3 py-1"></td>{% else %}<td class="px-3 py-1">Keliru input</td>{% endif %}  
      </tr> {% endfor %} 
     </tbody> 
    </table> 
   </div>
  </div>
</html>
