{% extends 'laporan/base.html' %}
{% block content %}
    <div id="content" class="colM">
    <h1>Kontak Developer</h1>
    <p>Terima kasih telah menggunakan software ini. Bila menemukan <i>bug, error</i> atau ingin request fitur baru bisa hubungi kontak di bawah:</p>
    <ul>
        <li><a href="mailto: arifmulpratama@mail.ugm.ac.id" target="_blank">arifmulpratama@mail.ugm.ac.id</a></li>
        <li><a href="https://t.me/pratama2" target="_blank">Telegram</a></li>
    </ul>
    </div>
{% endblock %}