{% extends 'laporan/base.html' %}
{% block content %}
    <div id="content" class="colM">

    <div class="row">

    <div class="col-lg-6 col-xs-12">
    <h1>Kontak Developer</h1>
    <p>Terima kasih telah menggunakan software ini. Bila menemukan <i>bug, error</i> atau ingin request fitur baru bisa hubungi kontak di bawah:</p>
    <ul>
        <li><a href="mailto: arifmulpratama@mail.ugm.ac.id" target="_blank">Email: arifmulpratama@mail.ugm.ac.id</a></li>
        <li><a href="https://t.me/pratama2" target="_blank">Telegram (text only)</a></li>
    </ul>
    </div>

    <div class="col-lg-5 col-xs-12">
    <h1>Donasi</h1>
    <p>Donasi melalui rekening di bawah untuk support pengembangan software ini:
    <ul>
        <li>BRI <strong>0341-01-077570-50-3</strong></li>
        <li>BNI <strong>0935287402</strong></li>
        <li>Bank Riau Kepri <strong>821-21-47029</strong></li>
    <ul>
    A.N. ARIF MULPRATAMA
    </p>
    </div>

    <div class="col-lg-5 col-xs-12">
    <h1>Open Source Software</h1>
    <p>Software ini dikembangkan menggunakan open source software:
    <ul>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="https://apexcharts.com/">Apexcharts.js</a></li>
        <li><a href="https://openpyxl.readthedocs.io/en/stable/">openpyxl</a></li>
        <li><a href="https://github.com/SheetJS/sheetjs">SheetJS</a></li>
        <li><a href="http://flexboxgrid.com/">Flexbox Grid</a></li>
    </ul>
    </p>
    </div>
    
    </div>
    </div>
    <br>
{% endblock %}