{% extends 'laporan/base.html' %}
{% block content %}
	  <div class="row">

	  <div class="col-lg-6 col-xs-12">
      {% if labels_kunjungan and data_kunjungan %}
      <div id="kunjunganChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data kunjungan bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_penyakit and data_penyakit %}
      <div id="penyakitPieChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data penyakit bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}

      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_obat_terbanyak and data_obat_terbanyak %}
      <div id="obatBarChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data obat bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      </div>

      </div>


  <script type="text/javascript">
    {% if labels_kunjungan and data_kunjungan %}
    const data_kunjungan = {
    labels: {{ labels_kunjungan|safe }},
    datasets: [
        {
            name: "kunjungan", type: "line",
            values: {{ data_kunjungan|safe }}
        }
      ]
    }

    const kunjunganChart = new frappe.Chart("#kunjunganChart", {
          title: "Kunjungan-{{bln}}-{{thn}}",
          data: data_kunjungan,
          type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['blue'],
          valuesOverPoints: 1
      })
    {% else %}
    // belum ada data kunjungan
    {% endif %}

    {% if labels_penyakit and data_penyakit %}
    const data_penyakit = {
    labels: {{ labels_penyakit|safe }},
    datasets: [
        {
            name: "penyakit", type: "line",
            values: {{ data_penyakit|safe }}
        }
      ]
    }

    const penyakitChart = new frappe.Chart("#penyakitPieChart", {
          title: "Penyakit-{{bln}}-{{thn}}",
          data: data_penyakit,
          type: 'pie', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 350,
          colors: ['violet', 'red', 'orange', 'yellow', 'green', 'light-green', 'purple', 'magenta', 'light-grey', 'dark-grey']
      })
    {% else %}
    // belum ada data penyakit
    {% endif %}

    {% if labels_obat_terbanyak and data_obat_terbanyak %}
    const data_obat = {
    labels: {{ labels_obat_terbanyak|safe }},
    datasets: [
        {
            name: "jumlah", type: "line",
            values: {{ data_obat_terbanyak|safe }}
        }
      ]
    }

    const obatBarChart = new frappe.Chart("#obatBarChart", {
          title: "Obat-Terbanyak-{{bln}}-{{thn}}",
          data: data_obat,
          type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['green'],
          axisOptions: {
              xAxisMode: 'tick' // default: 'span'
          },
      })
    {% else %}
    //belum ada data obat terbanyak
    {% endif %}

  </script>
{% endblock %}
