{% extends 'laporan/base.html' %}
{% block content %}
	  <div class="row">
	  <div class="col-lg-6 col-xs-12">
      {% if labels_kunjungan and data_kunjungan %}
      <div id="kunjunganChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data kunjungan bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      <br>
      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_penyakit and data_penyakit %}
      <div id="penyakitPieChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data penyakit bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      <br>
      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_obat_terbanyak and data_obat_terbanyak %}
      <div id="obatBarChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data obat bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      <br>
      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_penulis_resep and data_penulis_resep %}
	  <div id="penulisResepPercentage"></div>
	  {% else %}
	  <div><h3 align="center">Belum ada data peresep {{bln}} {{thn}}.</h3></div>
	  {% endif %}
		<br>
      </div>

      <div class="col-lg-12 col-xs-12">
      {% if addr %}
      <p>Public IP (<u>{{ addr }}:8000</u>)</p>
      {% else %}
      <p><i>Not connected to any network</i></p>
      {% endif %}
      <br>
      <br>
      </div>
            
      </div>


  <script type="text/javascript">
  {% if labels_penulis_resep and data_penulis_resep %}
    const data_penulis = {
    labels: {{ labels_penulis_resep|safe }},
    datasets: [
        {
            name: "penyakit", type: "line",
            values: {{ data_penulis_resep|safe }}
        }
      ]
    }

    const penulisChart = new frappe.Chart("#penulisResepPercentage", {
          title: "Penulis Resep {{bln}} {{thn}}",
          data: data_penulis,
          type: 'percentage',
          height: 350,
          colors: ['#FF0075', '#172774', '#77D970', '#480032', '#F14668', '#EEEEEE']
      })
    {% else %}
    {% endif %}

  
    {% if labels_kunjungan and data_kunjungan %}
    const data_kunjungan = {
    labels: {{ labels_kunjungan|safe }},
    datasets: [
        {
            name: "kunjungan", type: "line",
            values: {{ data_kunjungan|safe }}
        }
      ],
    yMarkers: [
            {
                label: "Rata-rata",
                value: {{ rerata_kunjungan|safe }},
                options: { labelPos: 'right' } // default: 'right'
            }
        ]
    }

    const kunjunganChart = new frappe.Chart("#kunjunganChart", {
          title: "Jml Resep Masuk {{bln}} {{thn}}",
          data: data_kunjungan,
          type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['#ff1178'],
          valuesOverPoints: 1,
          lineOptions: {
              regionFill: 1 // default: 0
          },
      })
    {% else %}
    // belum ada data kunjungan
    {% endif %}

    {% if labels_penyakit and data_penyakit %}
    const data_penyakit = {
    labels: {{ labels_penyakit|safe }},
    datasets: [
        {
            name: "penyakit", type: "line",
            values: {{ data_penyakit|safe }}
        }
      ]
    }

    const penyakitChart = new frappe.Chart("#penyakitPieChart", {
          title: "Diagnosa Terbanyak {{bln}} {{thn}}",
          data: data_penyakit,
          type: 'pie', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 350,
          colors: ['#E4F700', '#F700C1', '#B300F7', '#8000F7',  '#1000F7', '#00C7F7', '#4900F7', '#00F7C2', '#00F740', '#ACF700', '#F05454', '#FFA6D5', '#FFAB4C', '#FF0075', '#F4EBC1']
      })
    {% else %}
    // belum ada data penyakit
    {% endif %}

    {% if labels_obat_terbanyak and data_obat_terbanyak %}
    const data_obat = {
    labels: {{ labels_obat_terbanyak|safe }},
    datasets: [
        {
            name: "jumlah", type: "line",
            values: {{ data_obat_terbanyak|safe }}
        }
      ]
    }

    const obatBarChart = new frappe.Chart("#obatBarChart", {
          title: "Obat Terbanyak {{bln}} {{thn}}",
          data: data_obat,
          type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['#009DAE'],
          axisOptions: {
              xAxisMode: 'tick' // default: 'span'
          },
          barOptions: {
              spaceRatio: 0.6 // default: 1
          },
      })
    {% else %}
    //belum ada data obat terbanyak
    {% endif %}

  </script>
{% endblock %}
