{% extends 'laporan/base.html' %}
{% block content %}
	  <div class="row">

	  <div class="col-lg-6 col-xs-12">
      {% if labels_kunjungan and data_kunjungan %}
      <div id="kunjunganChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data kunjungan bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_penyakit and data_penyakit %}
      <div id="penyakitPieChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data penyakit bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}

      </div>

      <div class="col-lg-6 col-xs-12">
      {% if labels_obat_terbanyak and data_obat_terbanyak %}
      <div id="obatBarChart"></div>
      {% else %}
      <div><h3 align="center">Belum ada data obat bulan {{bln}} {{thn}}.</h3></div>
      {% endif %}
      </div>

      <div class="col-lg-6 col-xs-12">
		<p><h3><i>Tempat ini disiapkan untuk grafik lainnya.</i></h3></p>
      </div>

      </div>


  <script type="text/javascript">
    {% if labels_kunjungan and data_kunjungan %}
    const data_kunjungan = {
    labels: {{ labels_kunjungan|safe }},
    datasets: [
        {
            name: "kunjungan", type: "line",
            values: {{ data_kunjungan|safe }}
        }
      ],
    yMarkers: [
            {
                label: "Rata-rata",
                value: {{ rerata_kunjungan|safe }},
                options: { labelPos: 'right' } // default: 'right'
            }
        ]
    }

    const kunjunganChart = new frappe.Chart("#kunjunganChart", {
          title: "Kunjungan {{bln}} {{thn}}",
          data: data_kunjungan,
          type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['#ff1178'],
          valuesOverPoints: 1,
          lineOptions: {
              regionFill: 1 // default: 0
          },
      })
    {% else %}
    // belum ada data kunjungan
    {% endif %}

    {% if labels_penyakit and data_penyakit %}
    const data_penyakit = {
    labels: {{ labels_penyakit|safe }},
    datasets: [
        {
            name: "penyakit", type: "line",
            values: {{ data_penyakit|safe }}
        }
      ]
    }

    const penyakitChart = new frappe.Chart("#penyakitPieChart", {
          title: "Penyakit {{bln}} {{thn}}",
          data: data_penyakit,
          type: 'pie', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 350,
          colors: ['#E4F700', '#F700C1', '#B300F7', '#8000F7',  '#1000F7', '#00C7F7', '#4900F7', '#00F7C2', '#00F740', '#ACF700']
      })
    {% else %}
    // belum ada data penyakit
    {% endif %}

    {% if labels_obat_terbanyak and data_obat_terbanyak %}
    const data_obat = {
    labels: {{ labels_obat_terbanyak|safe }},
    datasets: [
        {
            name: "jumlah", type: "line",
            values: {{ data_obat_terbanyak|safe }}
        }
      ]
    }

    const obatBarChart = new frappe.Chart("#obatBarChart", {
          title: "Obat Terbanyak {{bln}} {{thn}}",
          data: data_obat,
          type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['#1696d5'],
          axisOptions: {
              xAxisMode: 'tick' // default: 'span'
          },
          barOptions: {
              spaceRatio: 0.4 // default: 1
          },
      })
    {% else %}
    //belum ada data obat terbanyak
    {% endif %}

  </script>
{% endblock %}
