{% load static %}
<html lang="en">
  <!-- The language defaults to English - update accordingly if necessary -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rangkuman Data Pelayanan Apotek Puskesmas Berakit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chartist.min.css' %}">
    <script src="{% static 'js/chartist.min.js' %}"></script>
    <script src="{% static 'js/chartist-plugin-pointlabels.min.js' %}"></script>
    <script src="{% static 'js/chartist-plugin-axistitle.min.js' %}"></script>
  	<style>
	hr {
	  display: block;
	  margin-top: 0.5em;
	  margin-bottom: 0.5em;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: inset;
	  border-width: 2px;
	}
	
	@media print {
	    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
	}
	
	table, th, td {
	  border: 1px solid white;
	  border-collapse: collapse;
	}
	
	th, td {
	  background-color: #FF6464;
	  padding: 2px;
	}
	
	</style>
  </head>

<body>
{% if val %}
<div class="container">

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    	<p><img src="{% static 'css/report.png' %}" alt="Report" width="40" height="40"></p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
    	<p><strong>Rangkuman Data Pelayanan Apotek PKM Berakit</strong><br>
    	<small>Tanggal: {{ startdate }} s/d {{ enddate }}</small></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <p><img src="{% static 'css/pills.png' %}" alt="Pills" width="30" height="30"></p></div>
</div>

<div class="row center-lg center-md center-sm center-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<hr>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Grafik Lembar Resep</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="ct-chart ct-octave" id="chartKunjungan"></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <p>
        <small>
        
        	<li>Total: {{ total_resep }} resep</li>
        	<li>Rata-rata: {{ rerata_kunjungan|floatformat:0 }} resep</li>
        	<li>Terbanyak: {{ terbanyak }} resep</li>
        	<li>Tersedikit: {{ tersedikit }} resep</li>
        
        </small>
        </p>
    </div>
</div>

<script>
  var optionsKunjungan = {
  	low: 0
  };
  new Chartist.Line('#chartKunjungan', {
    labels: {{ labels_kunjungan|safe }},
    series: [{{ data_kunjungan }}]
  }, {
  	plugins: [
    Chartist.plugins.ctPointLabels({
      textAnchor: 'middle'
    }),
    Chartist.plugins.ctAxisTitle({
      axisX: {
        axisTitle: 'Tanggal',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 30
        },
        textAnchor: 'middle'
      },
      axisY: {
        axisTitle: 'Jumlah Resep',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: -5
        },
      }
    })
  ],
  low: 0,
  showArea: true
  });
</script>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Peresepan Obat Terbanyak</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<div class="ct-chart ct-octave" id="chartObatTerbanyak"></div>
    </div>
</div>

<script>
new Chartist.Bar('#chartObatTerbanyak', {
  labels: {{ labels_obat_terbanyak|safe }},
  series: [
    {{ data_obat_terbanyak }}
  ]
}, {
  seriesBarDistance: 15,
  reverseData: true,
  horizontalBars: true,
  axisY: {
    offset: 400,
    position: 'end',
    labelOffset: {
      x: 0,
      y: 0
    },
  },
  chartPadding: {
    top: 5,
    right: 5,
    bottom: 5,
    left: 5
  },
});
</script>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Data Penulis Resep</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
    	<div class="ct-chart ct-octave" id="chartPeresepTerbanyak"></div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
	    <p>
	    <small>
	    {% for key, val in peresep.items %}
	    	<li>{{ key }}: {{ val }} lembar resep</li>
	    {% endfor %}
	    
	    </small>
	    </p>
    </div>
</div>

<script>
var peresepOptions = {
  labelDirection: 'explode',
  labelInterpolationFnc: function(value) {
    return value
  }
};

var peresepResponsiveOptions = [
  ['screen and (min-width: 100px)', {
    chartPadding: 30,
    labelOffset: 80,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }]
];

new Chartist.Pie('#chartPeresepTerbanyak', {
  labels: {{ labels_penulis_resep|safe }},
  series: {{ data_penulis_resep }}
}, peresepOptions, peresepResponsiveOptions);
</script>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Diagnosa terbanyak</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    	<table class="table">
    	<thead><tr><th>No.</th><th>Diagnosa</th><th>Jumlah</th></tr></thead>
    	{% for x, y in penyakit.items %}
    		{% if forloop.counter > 40 %}
    		{% else%}
    		<tbody><tr><td>{{ forloop.counter }}</td><td contenteditable="true">{{ x }}</td><td>{{ y }}</td></tr></tbody>
    		{% endif %}
    	{% endfor %}
    	</table>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Penerimaan BMHP</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
	  <tr><td contenteditable="false"><strong>No.</strong></td><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Tgl Terima</strong></td><td contenteditable="false"><strong>Sumber</strong></td><td contenteditable="false"><strong>No. Batch</strong></td><td contenteditable="false"><strong>Tgl Kadaluarsa</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for key, value in penerimaan.items %}
	  <tr><td contenteditable="true">{{ forloop.counter }}</td>{% for data in value %}<td contenteditable="true">{{ data }}</td>{% endfor %}</tr>
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Penggunaan Obat Di Apotek</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	<table>
	  <tr><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for key, value in apt.items %}
	  <tr><td contenteditable="true">{{ key }}</td><td contenteditable="true">{{ value }}</td></tr>
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Distribusi BMHP Ke Unit Lain</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
	  <tr><td contenteditable="false"><strong>Lokasi Unit</strong></td><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for lokasi, value in unit.items %}
	  	{% for bmhp, jml in value.items %}
	  		{% if forloop.first %}
	  			<tr><td contenteditable="true">{{ lokasi }}</td><td contenteditable="true">{{ bmhp }}</td><td contenteditable="true">{{ jml }}</td></tr>
	  			{% else %}
	  				{% if forloop.last %}
	  					<tr><td contenteditable="true"> </td><td contenteditable="true">{{ bmhp }}</td><td contenteditable="true">{{ jml }}</td></tr>
	  					<tr><td style="background-color:#343A40;" contenteditable="false"> </td><td style="background-color:#343A40;" contenteditable="false"></td><td style="background-color:#343A40;" contenteditable="false"></td></tr>
	  						{% else %}
	  						<tr><td contenteditable="true"> </td><td contenteditable="true">{{ bmhp }}</td><td contenteditable="true">{{ jml }}</td></tr>
	  				{% endif %}
			{% endif %}
	  	{% endfor %}
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Stok Obat di Apotek</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
	  <tr><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for key, value in stok_apt.items %}
	  <tr><td contenteditable="true">{{ key }}</td><td contenteditable="true">{{ value }}</td></tr>
	  {% endfor %}
	</table>
	</div>
</div>

{% else %}
<p>Tidak ada data pengeluaran BMHP Apotek pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>

{% endif %}
<br>

</div>
</body>
