{% load static %}
<html lang="en">
  <!-- The language defaults to English - update accordingly if necessary -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Big Data Report Tahun {{ edate }} Bulan {{ sdate }} Apotek Puskesmas Berakit</title>
    <link rel="stylesheet" tyddpe="text/css" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chartist.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}">
    <script src="{% static 'js/chartist.min.js' %}"></script>
    <script src="{% static 'js/chartist-plugin-pointlabels.min.js' %}"></script>
    <script src="{% static 'js/chartist-plugin-axistitle.min.js' %}"></script>
  	<style>
	hr {
	  display: block;
	  margin-top: 0.5em;
	  margin-bottom: 0.5em;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: inset;
	  border-width: 2px;
	}
	
	@media print {
	    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
	}

	table {
	  border: 1px solid black;
	  border-collapse: collapse;
    vertical-align: middle;
	}


  caption {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #333;
    margin-bottom: 10px;
  }

  body {
    font-family: sans-serif;
  }

  thead {
    background-color: #e27876;
    color: white;
  }

  th, td {
    padding: 5px;
  }

  .colNo {
    width: 10px;
  }
	
  tr:nth-child(even) {
    background-color: #EEE;
  }

	.copyleft {
	  display:inline-block;
	  transform: rotate(180deg);
	}

	.kunChart {
		width: 100%;
	}

	.peresepanChart {
		width: 100%;
	}

  li {
    list-style-type: square;
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
	
	</style>
  </head>

<body>
{% if val %}
<div class="container">

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    	<p><img src="{% static 'css/report.png' %}" alt="Report" width="40" height="40"></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    	<p><strong>Analisa Big Data Apotek Puskesmas Berakit</strong><br>
    	<small>Tanggal: {{ startdate }} s/d {{ enddate }}</small></p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    	<p><img src="{% static 'css/centralized.png' %}" alt="Pills" width="40" height="40"></p>
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    	<p>
      <div class="copyright">Disusun oleh:<br>FarmAssistBot / SIBOKIT <span class="copyleft">&copy;</span> by Pratama</div></p>
    </div>
</div>

<div class="row center-lg center-md center-sm center-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<hr>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Grafik Pelayanan Resep Harian</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="kunChart">
        <img src="{{ kunChart64 }}">
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <p>
      <li>Total: {{ total_resep }} resep</li>
      <li>Rerata: {{ rerata_kunjungan|floatformat:0 }} resep</li>
      <li>Terbanyak: {{ terbanyak }} resep</li>
      <li>Tersedikit: {{ tersedikit }} resep</li>
      </p>
    </div>
</div>


<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Grafik Obat Terbanyak Digunakan Pasien</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="peresepanChart">
        <img src="{{ peresepanChart64 }}">
      </div>
    </div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Data Penulis Resep</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="peresepanChart">
        <img src="{{ peresepChart64 }}">
      </div>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
	    <p>
	    {% for key, val in peresep.items %}
	    	<li>{{ key }}: {{ val }} lembar</li>
	    {% endfor %}
	    </p>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>10 Penyakit Terbanyak</h4>
    </div>
</div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="peresepanChart">
        <img src="{{ toppenyakit }}">
      </div>
    </div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    	<table class="table">
      <caption>Diagnosa Terbanyak</caption>
    	<thead><tr><th class="colNo"><small>No.</small></th><th><small>Diagnosa</small></th><th><small>Jumlah</small></th></tr></thead>
    	{% for x, y in penyakit.items %}
    		{% if forloop.counter > 40 %}
    		{% else%}
    		<tr><td><small>{{ forloop.counter }}</small></td><td contenteditable="true"><small>{{ x }}</small></td><td><small>{{ y }}</small></td></tr>
    		{% endif %}
    	{% endfor %}
    	</table>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
</div>

<div class="pagebreak"> </div>

 <div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Sebaran Penyakit</h4>
    </div>
</div>

     {% for lokasi, penyakit_map in lokasi_penyakit.items %}
        <table class="table">
        <caption>Sebaran Penyakit di {{ lokasi }}</caption>

    	<thead><tr><th class="colNo"><small>No.</small></th><th><small>Diagnosa</small></th><th><small>Jumlah</small></th></tr></thead>
    	{% for x, y in penyakit_map.items %}
    		{% if forloop.counter > 40 %}
    		{% else%}
    		<tr><td><small>{{ forloop.counter }}</small></td><td contenteditable="true"><small>{{ x }}</small></td><td><small>{{ y }}</small></td></tr>
    		{% endif %}
    	{% endfor %}
    	</table>

        <div class="pagebreak"></div>
      {% endfor %}

{% if penerimaan %}
<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
    <caption>Penerimaan BMHP</caption>
    <thead><tr><th contenteditable="false"><small><strong>No.</strong></small></th><th contenteditable="false"><small><strong>Nama BMHP</strong></small></th><th contenteditable="false"><small><strong>Tgl Terima</strong></small></th><th contenteditable="false"><small><strong>Sumber</strong></small></th><th contenteditable="false"><small><strong>No. Batch</strong></small></th><th contenteditable="false"><small><strong>Tgl Kadaluarsa</strong></small></th><th contenteditable="false"><small><strong>Jumlah</strong></small></th></tr></thead>
	  {% for key, value in penerimaan.items %}
	  <tr><td contenteditable="true"><small>{{ forloop.counter }}</small></td>{% for data in value %}<td contenteditable="true"><small>{{ data }}</small></td>{% endfor %}</tr>
	  {% endfor %}
	</table>
	</div>
</div>
{% else %}
<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h4>Tidak Ada Penerimaan BMHP Pada Rentang Tanggal Tersebut</h4>
    </div>
</div>
{% endif %}

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
    <caption>Penggunaan Obat Di Apotek</caption>
    <thead><tr><td contenteditable="false"><strong><small>Nama BMHP</small></strong></td><td contenteditable="false"><strong><small>Jumlah</small></strong></td></tr></thead>
	  {% for key, value in apt.items %}
	  <tr><td contenteditable="true"><small>{{ key }}</small></td><td contenteditable="true"><small>{{ value }}</small></td></tr>
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
   	<caption>Distribusi BMHP dari Gudang Ke Apotek</caption>
    <thead><tr><td contenteditable="false"><strong><small>Nama BMHP</small></strong></td><td contenteditable="false"><strong><small>Jumlah</small></strong></td></tr></thead>
	  {% for key, value in gd_ke_apt.items %}
	  <tr><td contenteditable="true"><small>{{ key }}</small></td><td contenteditable="true"><small>{{ value }}</small></td></tr>
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
   	<caption>Distribusi BMHP Ke Unit Lain</caption>
    <thead><tr><td contenteditable="false"><strong><small>Lokasi Unit</small></strong></td><td contenteditable="false"><strong><small>Nama BMHP</small></strong></td><td contenteditable="false"><strong><small>Jumlah</small></strong></td></tr></thead>
	  {% for lokasi, value in unit.items %}
	  	{% for bmhp, jml in value.items %}
	  		{% if forloop.counter == 1 and forloop.last %}
	  			<tr><td contenteditable="true"><strong><small>{{ lokasi }}</small></strong></td><td contenteditable="true"><small>{{ bmhp }}</small></td><td contenteditable="true"><small>{{ jml }}</small></td></tr>
	  			<tr><td style="background-color:#e27876;" contenteditable="false"> </td><td style="background-color:#e27876;" contenteditable="false"></td><td style="background-color:#e27876;" contenteditable="false"></td></tr>
	  		{% elif forloop.counter == 1 and not forloop.last %}
	  			<tr><td contenteditable="true"><strong><small>{{ lokasi }}</small></strong></td><td contenteditable="true"><small>{{ bmhp }}</small></td><td contenteditable="true"><small>{{ jml }}</small></td></tr>
	  		{% else %}
	  			{% if forloop.last %}
	  			<tr><td contenteditable="true"> </td><td contenteditable="true"><small>{{ bmhp }}</small></td><td contenteditable="true"><small>{{ jml }}</small></td></tr>
	  			<tr><td style="background-color:#e27876;" contenteditable="false"> </td><td style="background-color:#e27876;" contenteditable="false"></td><td style="background-color:#e27876;" contenteditable="false"></td></tr>
	  			{% else %}
	  				<tr><td contenteditable="true"> </td><td contenteditable="true"><small>{{ bmhp }}</small></td><td contenteditable="true"><small>{{ jml }}</small></td></tr>
	  			{% endif %}
			{% endif %}
	  	{% endfor %}
	  {% endfor %}
	</table>
	</div>
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
    <caption>Stok Obat di Apotek</caption>
    <thead><tr><td contenteditable="false"><strong><small>Nama BMHP</small></strong></td><td contenteditable="false"><strong><small>Jumlah</small></strong></td></tr></thead>
	  {% for key, value in stok_apt.items %}
	  <tr><td contenteditable="true"><small>{{ key }}</small></td><td contenteditable="true"><small>{{ value }}</small></td></tr>
	  {% endfor %}
	</table>
	</div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>
	
</div>

<div class="pagebreak"> </div>

<div class="row start-lg start-md start-sm start-xs">

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>
    
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<table>
    	<caption>Stok Obat di Gudang</caption>
    <thead><tr><td contenteditable="false"><strong><small>Nama BMHP</small></strong></td><td contenteditable="false"><strong><small>Jumlah</small></strong></td></tr></thead>
	  {% for key, value in stok_gdg.items %}
	  <tr><td contenteditable="true"><small>{{ key }}</small></td><td contenteditable="true"><small>{{ value }}</small></td></tr>
	  {% endfor %}
	</table>
	</div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>
</div>

{% else %}
<p>Tidak ada data pengeluaran BMHP Apotek pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>

{% endif %}
<br>

</div>
</body>
