{% extends 'laporan/base.html' %}
{% block content %}
	<div id="content" class="colMS">

    <div class="row">
      <div class="col-lg-3 col-xs-12">
      <h1>Laporan Apotek</h1>
          <ul>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
          </ul>
      </div>

      <div class="col-lg-3 col-lg-offset-6 col-xs-12">
      <h1>Laporan Kunjungan</h1>
          <ul>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
            <li><a href="laporan/">Laporan anu</a></li>
          </ul>
      
      </div>
    </div>
    
    </div>
{% endblock %}
