{% extends 'laporan/base.html' %}
{% block content %}
	<div id="content" class="colM">

    <div class="row">
      <div class="col-lg-3 col-xs-12">
      <h1>Public Information Area</h1>
          <ul>
            <li><a href="{% url 'tengok_obat' %}">Tengok Stok Obat</a></li>
            <li><a href="{% url 'tengok_alkes' %}">Tengok Stok Alkes</a></li>
          </ul>
      </div>
      <div class="col-lg-3 col-xs-12">
      <h1>Laporan Apotek</h1>
          <ul>
            <li><a href="{% url 'laporan_semua' %}">Laporan Semua</a></li>
            <li><a href="{% url 'penggunaan_bmhp' %}">Penggunaan BMHP</a></li>
            <li><a href="{% url 'cetak_kartu' %}">Cetak Kartu Stok</a></li>
            <li><a href="{% url 'lap_narko_psiko' %}">Penggunaan Narkotik & Psikotropik</a></li>
            <li><a href="{% url 'lap_generik' %}">Laporan Generik</a></li>
            <li><a href="{% url 'lap_por' %}">Laporan POR</a></li>
            <li><a href="{% url 'so_apotek' %}">SO Apotek</a></li>
            <li><a href="{% url 'so_gudang' %}">SO Gudang</a></li>
            <li><a href="#">Membuat LPLPO metode konsumsi (Todo)</a></li>
          </ul>
      </div>

      <div class="col-lg-3 col-xs-12">
      <h1>Extras</h1>
          <ul>
            <li><a href="{% url 'backupd' %}">Download Backup Database</a></li>
            <li><a href="#">Penyesuaian kartu stok (Todo)</a></li>
            <li><a href="{% url 'contact_dev' %}" target="_blank"><strong>Kontak Developer</strong></a></li>
          </ul>
      </div>
      
{% endblock %}
