{% extends 'laporan/base.html' %}
{% block content %}

<div id="content" class="colM">
<h2>Penggunaan BMHP Apotek</h2>
Penggunaan BMHP apotek dari <strong>{{ startdate }}</strong> s/d <strong>{{ enddate }}</strong> <i><small>(YYYY-MM-DD)</small></i>:
<p></p>

{% if val %}
	<table id="data-table" border="1">
	  <tr><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for key, value in val.items %}
	  <tr><td contenteditable="false">{{ key }}</td><td contenteditable="false">{{ value }}</td></tr>
	  {% endfor %}
	</table>
<br>
<p><input type="submit" value="Download Excel" onclick="dl_excel('xlsx');"></p>

<script>
function dl_excel(type, fn, dl) {
	var elt = document.getElementById('data-table');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Penggunaan BMHP Apotek"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Penggunaan-BMHP-Apotek__{{startdate}}__{{enddate}}.' + (type || 'xlsx')));
}
</script>

{% else %}
<p>Tidak ada data pengeluaran BMHP Apotek pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>

{% endif %}
<br>

<h2>Pengeluaran BMHP ke Unit Lain</h2>
Penggunaan BMHP unit lain dari <strong>{{ startdate }}</strong> s/d <strong>{{ enddate }}</strong> <i><small>(YYYY-MM-DD)</small></i>:


{% if unit %}
	<table id="data-table" border="1">
	  <tr><td contenteditable="false"><strong>Lokasi Unit</strong></td><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for lokasi, value in unit.items %}
	  <tr><td contenteditable="false"><strong>{{ lokasi }}</strong></td><td contenteditable="false"><strong>{{ value }}</strong></td><td contenteditable="false"><strong>{{ value }}</strong></td></tr>
	  {% endfor %}
	</table>

{% else %}
<p>Tidak ada data pengeluaran BMHP ke unit lain pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>
{% endif %}

{% endblock %}

</div>
