{% extends 'laporan/base.html' %}
{% block content %}

<div id="content" class="colM">
<h2>Penggunaan BMHP Apotek</h2>
Penggunaan BMHP apotek pada tanggal <strong>{{ startdate }}</strong> s/d <strong>{{ enddate }}</strong> <i><small>(YYYY-MM-DD)</small></i>:
<p></p>

{% if val %}
	<table id="tabel-apt" border="2">
	  <tr><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for key, value in val.items %}
	  <tr><td contenteditable="false">{{ key }}</td><td contenteditable="false">{{ value }}</td></tr>
	  {% endfor %}
	</table>
<br>
<p><input type="submit" value="Download Excel" onclick="dl_excel('xlsx');"></p>

<script>
function dl_excel(type, fn, dl) {
	var elt = document.getElementById('tabel-apt');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Penggunaan BMHP Apotek"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Penggunaan-BMHP-Apotek__{{startdate}}__{{enddate}}.' + (type || 'xlsx')));
}
</script>

{% else %}
<p>Tidak ada data pengeluaran BMHP Apotek pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>

{% endif %}
<br>

<h2>Pengeluaran BMHP dari Gudang ke Unit Lain</h2>
Penggunaan BMHP dari gudang ke unit lain pada tanggal <strong>{{ startdate }}</strong> s/d <strong>{{ enddate }}</strong> <i><small>(YYYY-MM-DD)</small></i>:
<p></p>

{% if unit %}
	<table id="tabel-unit" border="2">
	  <tr><td contenteditable="false"><strong>Lokasi Unit</strong></td><td contenteditable="false"><strong>Nama BMHP</strong></td><td contenteditable="false"><strong>Jumlah</strong></td></tr>
	  {% for lokasi, value in unit.items %}
	  	{% for bmhp, jml in value.items %}
	  		{% if forloop.first %}
	  			<tr><td contenteditable="false">{{ lokasi }}</td><td contenteditable="false">{{ bmhp }}</td><td contenteditable="false">{{ jml }}</td></tr>
	  			{% else %}
	  				{% if forloop.last %}
	  					<tr><td contenteditable="false"> </td><td contenteditable="false">{{ bmhp }}</td><td contenteditable="false">{{ jml }}</td></tr>
	  					<tr style="background-color:#343A40;"><td contenteditable="false"> </td><td contenteditable="false"></td><td contenteditable="false"></td></tr>
	  						{% else %}
	  						<tr><td contenteditable="false"> </td><td contenteditable="false">{{ bmhp }}</td><td contenteditable="false">{{ jml }}</td></tr>
	  				{% endif %}
			{% endif %}
	  	{% endfor %}
	  {% endfor %}
	</table>
	<br>
	<p><input type="submit" value="Download Excel" onclick="dl_excel_unit('xlsx');"></p>

<script>
function dl_excel_unit(type, fn, dl) {
	var elt = document.getElementById('tabel-unit');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Penggunaan BMHP Unit Lain"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Penggunaan-BMHP-Unit-Lain__{{startdate}}__{{enddate}}.' + (type || 'xlsx')));
}
</script>

{% else %}
<p>Tidak ada data pengeluaran BMHP ke unit lain pada rentang tanggal di atas. Coba tanggal lainnya.</p>
<p>(T⌓T)</p>
{% endif %}

{% endblock %}

</div>
