{% extends 'laporan/base.html' %}
{% block content %}
<div id="content" class="colMS">
<h1>Stok Opname Barang Apotek</h1>

<div class="row">
{% csrf_token %}
<form action="/laporan/so_apotek/" method="post">
<label>Tanggal SO: </label>
{{ form.tanggal }}
<br><br>

<table border="2">
<tr><td contenteditable="false"><strong>Nama Barang</strong></td><td contenteditable="false"><strong>Stok Tercatat</strong></td><td contenteditable="false"><strong>Stok Fisik Sebenarnya</strong></td></tr>
{% for obat in data %}
<tr><td contenteditable="false">{{ obat.nama_obat.nama_obat }}</td><td contenteditable="false">{{ obat.jml }}</td><td contenteditable="false"><input type="text" name="{{ obat.nama_obat.nama_obat }}" value=""></td></tr>
{% endfor %}
</table>
<br>
<input type="submit" value="Submit">
</form>

</div>
</div>
{% endblock %}
