{% extends 'laporan/base.html' %}
{% block content %}
    <div id="content" class="colM">
    <h2>Navigation</h2>
    <ul>
        <li><a href="#obat">Obat</a></li>
        <li><a href="#ab">Antibiotik</a></li>
        <li><a href="#okt">OKT</a></li>
    </ul>
    <hr>
    
    <br>
    <h1 id="obat">Obat</h1>

	<table border="2">
	  <tr><td contenteditable="false"><strong>Nama Obat</strong></td><td contenteditable="false"><strong>Satuan</strong></td><td contenteditable="false"><strong>Stok</strong></td></tr>
	  {% for key, value in obat.items %}
	  <tr><td contenteditable="false">{{ key }}</td><td contenteditable="false">{{ value.0 }}</td><td contenteditable="false">{% if value.1 > 0 %}ada{% else %}kosong{% endif %}</td></tr>
	  {# merah <tr style="background-color:#f90716;"> #}
	  {# oren <tr style="background-color:#ff5403;"> #}
	  {% endfor %}
	</table>
	<br>
	<hr>
	<br>
	
    <h1 id="ab">Antibiotik</h1>

	<table border="2">
	  <tr><td contenteditable="false"><strong>Nama Obat</strong></td><td contenteditable="false"><strong>Satuan</strong></td><td contenteditable="false"><strong>Stok</strong></td></tr>
	  {% for key, value in antibiotik.items %}
	  <tr><td contenteditable="false">{{ key }}</td><td contenteditable="false">{{ value.0 }}</td><td contenteditable="false">{% if value.1 > 0 %}ada{% else %}kosong{% endif %}</td></tr>
	  {% endfor %}
	</table>
	<br>
	<hr>
	<br>
	
    <h1 id="okt">OKT</h1>

	<table border="2">
	  <tr><td contenteditable="false"><strong>Nama Obat</strong></td><td contenteditable="false"><strong>Satuan</strong></td><td contenteditable="false"><strong>Stok</strong></td></tr>
	  {% for key, value in okt.items %}
	  <tr><td contenteditable="false">{{ key }}</td><td contenteditable="false">{{ value.0 }}</td><td contenteditable="false">{% if value.1 > 0 %}ada{% else %}kosong{% endif %}</td></tr>
	  {% endfor %}
	</table>
	<br>
	<br>
{% endblock %}