{% load static %}
<html lang="en">
  <!-- The language defaults to English - update accordingly if necessary -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faskes Emu App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/frappe-charts.min.iife.js' %}"></script>
  </head>
  <body>
    <div id="container">

      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/app/">Faskes Emu</a></h1>
        </div>
        <div id="user-tools">
          <a href="app/"><strong>Login Ke App</strong></a>
        </div>
      </div>
      <div class="breadcrumbs">
        {{nama}}
      </div>

      <div id="kunjunganChart"></div>

    </div>

  <script type="text/javascript">
    const data = {
    labels: {{ labels|safe }},
    datasets: [
        {
            name: "kunjungan", type: "line",
            values: {{ data|safe }}
        }
      ]
    }

    const chart = new frappe.Chart("#kunjunganChart", {
          title: "Jumlah Resep Masuk Bulan ini",
          data: data,
          type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
          height: 250,
          colors: ['#743ee2']
      })

  </script>
  </body>
</html>